<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <style>
    img {
      width: 100%;
    }
  </style>
  <title>Mongo File Uploads</title>
</head>

<body class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h3 class="text-center display-6 my-4">Mongo File Uploads</h3>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <input type="file" name="file" id="file" class="custom-file-input">
            <label for="file" class="custom-file-label">Choose File</label>
          </div>
          <input type="submit" value="Submit" class="btn btn-success btn-block">
        </form>
        <hr>
        <% if(files){ %>
            <% files.forEach(function(file) { %>
              <div class="card card-body mb-3">
                <% if(file.isImage) { %>
                  <img src="image/<%= file.filename %>" alt="">
                  <% } else { %>
                    <%= file.filename %>
                      <% } %>
                        <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                          <button class="btn btn-danger btn-block mt-4">Delete</button>
                        </form>
              </div>
              <% }) %>
                <% } else { %>
                  <p>No files to show</p>
                  <% } %>
        </div>
      </div>
    </div>

<!-- The enctype attribute specifies how the form-data should be encoded when submitting it to the server. The enctype attribute can be used only if method="post". No characters are encoded. This value is required when you are using forms that have a file upload control

1>    https://www.w3schools.com/TAGS/att_form_enctype.asp
2> https://stackoverflow.com/questions/4526273/what-does-enctype-multipart-form-data-mean

And The <input type="file"> defines a file-select field and a "Browse" button for file uploads.
-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>